{% url 'home' as home_url %}
{% url 'about_us' as about_us_url' %}
{% url 'contact_us' as contact_us_url' %}
{% url 'register' as register_url %}
{% url 'login' as login_url %}



<html>
    <body>
        
        <div class = "container-fluid"> 
            <div class = "row">

                <div class = "col-2"> 
                    {% if request.path == home_url %}               <h4 class = "p-2 text-center"> Home </h4>
                    {% else %} <a href = "{% url 'home' %}">        <h4 class = "p-2 text-center"> Home </h4>       </a> {% endif %}
                </div>

                <div class="col-2"> 
                    {% if request.path == about_us_url %}           <h4 class = "p-2 text-center"> About Us </h4>
                    {% else %} <a href = "{% url 'about_us' %}">    <h4 class = "p-2 text-center"> About Us </h4>   </a> {% endif %}
                    
                </div>

                <div class="col-2"> 
                    {% if request.path == contact_us_url %}         <h4 class = "p-2 text-center"> Contact Us </h4>
                    {% else %} <a href = "{% url 'contact_us' %}">  <h4 class = "p-2 text-center"> Contact Us </h4> </a> {% endif %}
                </div>
            
                <div class="col-2"> 
                </div>


                
                {% if user.is_authenticated %}
                <div class = "col-2"> 
                    <h4 class = "text-center"> Hi {{user.name}}, click to go to your<a href = "{% url 'dashboard' %}"> Dashboard </a> </h4>
                </div>

                <div class = "col-2"> 
                    <form action = "{% url 'logout' %}" method = "post">
                        {% csrf_token %}
                        <button type = "submit"> Logout </button>
                    </form>
                </div>
                
                {% else %}
                


                <div class = "col-2"> 
                    {% if request.path == register_url %}           <h4 class = "p-2 text-center"> Register </h4>
                    {% else %} <a href = "{% url 'register' %}">    <h4 class = "p-2 text-center"> Register </h4>   </a> {% endif %}
                </div>

                <div class = "col-2"> 
                    {% if request.path == login_url %}              <h4 class = "p-2 text-center"> Login </h4>
                    {% else %} <a href = "{% url 'login' %}">       <h4 class = "p-2 text-center"> Login </h4>      </a> {% endif %}
                </div>
                {% endif %}
            
            </div>
            

        </div>
        
    </body>
</html>