{%extends 'product/_product_base.html'%}

{% block title %} Input {% endblock %}

{% block page_heading %}  {% endblock page_heading %}

{%block content %}

 
<div class = "container">
    <div class = "row justify-content-center">
            <h2 class = "pb-5 pt-1"> Your Actions </h2>
    </div>

    <div class = "row">
        {% for action in actions %}
                <div class = "col-4 py-2"></div>
                    <div class = "col-1 py-2">
                        <h5> {{ action.name }} </h5>
                    </div>
                    <div class = "col-2 py-2"></div>
                    <div class = "col-1 py-2">
                        <form action = "{% url 'input_delete_action' action.id %}" method="POST" novalidate>
                            {% csrf_token %}
                            <button type="submit" value = "delete_action" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <div class = "col-4 py-2"></div>
        {% empty %}
            <div class = "text-center col-12">
                <p> No tasks yet, create one below </p>
            </div>
        {% endfor %}
    </div>

    <div class = "row justify-content-center">
        <form method="POST" novalidate>
            {% csrf_token %}
                <label class = mx-2 for="{{ field.id_for_label }}">Create new Action</label> {{ form.name }}
                <button type="submit" value = "add_action" class="btn">Submit</button>
        </form>
    </div>


           
</div>

{% endblock %}